body {
   background-image: url(../images/bg-space.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-color: #111;
   color: #CCC;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#app {
   text-align: center;
   width: 820px;
   margin: auto;
}

.top {
   padding: 25px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   text-align: left;
}

.top h1 {
   font-size: 1em;
   margin: 0;
   color: #fff;
}

.top form {
   margin: 0;
}

.top form {
   text-align: right;
}

.characters {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}

.characters .item {
   padding: 20px;
}

.characters .item img {
   width: 100%;
   border-radius: 20%;
   border: 5px #111 solid;
}

.characters .item img:hover {
   border: 5px rgb(105, 201, 97) solid;
}

input {
   padding: 0.75em 1.25em;
   border-radius: 8px;
   border: none;
   font-size: 1rem;
}
  .container {
    display: flex;
    align-items: center;
    gap: 8px; /* espaço entre o ícone e o botão */
  }

  .icon {
    font-size: 40px;
    color: rgb(206, 82, 169);
    cursor: pointer;
  }

  button {
    background: #c5d374;
    color: #000;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }